
.sidebar {
  position: fixed;
  padding: 15px;
  top: 10%;
  left: 0%;
  width: 180px;
  height: 90%;
  background-color: #f8f9fa;
  box-shadow: 4px 0 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease;
  align-items: center;
}

.sidebar-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-option:hover {
  background-color: white;
}

.sidebar-option svg {
  margin-right: 10px;
  color: #333;
  font-size: 18px;
}

.sidebar-option span {
  font-size: 14px;
  color: #333;
}

@media (max-width: 768px) {
  .sidebar {
    width: 160px; 
    padding: 15px;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1); 
  }

  .sidebar-option span {
    font-size: 12px; 
  }

  .sidebar-option svg {
    font-size: 16px; 
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100px;
    padding: 10px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
  }

  .sidebar-option {
    padding: 8px;
  }

  .sidebar-option span {
    display: none;
  }

  .sidebar-option svg {
    font-size: 20px; 
  }
}
